.wrapper {
  background: var(--white-color);
  flex: 1;
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

.filter {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.productList {
  margin-top: 12px;
  padding: 0 20px;
}
