.wrapper {
  background: var(--white-color);
  flex: 1;
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

.filter {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.productList {
  margin-top: 12px;
  padding: 20px;
}

.cardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 52px;
  line-height: 26px;
}
