.wrapper {
  background: var(--white-color);
  width: 100%;
  height: 100%;
}

.body {
  position: relative;
  display: flex;
}

.bodyLeft {
  width: 300px;
  background: var(--primary-color);
  height: calc(100vh - var(--header-height));
  padding: 12px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyRight {
  position: relative;
  flex: 1;
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
}

.bodyRightFilter {
  position: sticky;
  display: flex;
  padding: 12px 20px;
  top: 0;
  z-index: 2;
  background-color: #fff;
  box-shadow: var(--shadow);
}

.productList {
  margin-top: 12px;
  padding: 0 20px;
}

.cardTitle {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 48px;
  line-height: 24px;
}
